#text1{
    text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff; 
  }
  #btnbtk{
    box-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff;
  }
  #cbulogo{
    width: 90px;
    height: 90px;
    border-radius: 35px;
    box-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff;
  }
  #btklogo{
    width: 90px;
    height: 90px;
    float: right;
    border-radius: 35px;
    box-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff;
  }
  #txt{
    font-size: 20px;
  }